.header {
  font-size: 20px;
  line-height: 1.5;
  margin: 60px auto;
}

.header span {
  display: block;
}

.section {
  padding: 30px 0;
}

.form-header, .section-header {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 20px;
}

.form {
  border: 5px solid #2727d9;
  padding: 35px 20px 35px 20px;
  margin-bottom: 100px;
}

.form input {
  margin-bottom: 10px;
}

.form {
  height: 315px;
}

.feature {
  margin-top: 60px;
}

.feature p {
  margin-top: 20px;
}

.video {
  margin-bottom: 30px;
}

.feature-box {
  height: 160px;
}

.section-header-two {
  margin-top: 115px;
  font-size: 20px;
  font-weight: 900;
}

.feature-box-two {
  margin-top: 70px;
}

.feature-box-tree {
  margin-top: 30px;
}